@keyframes sideBarToShow {
  0% {
    width: 100%;
  }
  100% {
    width: calc(100% - 256px);
  }
}

@keyframes sideBarToHide {
  0% {
    width: calc(100% - 256px);
  }
  100% {
    width: 100%;
  }
}